<section class="registro">
  <h2>{{'RegistroUsuario' | translate}}</h2>
  <form [formGroup]="controlRegistro" (click)="Onsubmit()">
    <label>{{'name' | translate}}*: </label><input type="text" formControlName="nombre"/>
    <label>{{'apellido1' | translate}}: </label><input type="text" formControlName="apellido1"/>
    <label>{{'apellido2' | translate}}: </label><input type="text" formControlName="apellido2"/><br>
    <label>{{'email' | translate}}*: </label><input type="email" formControlName="email" placeholder="usuario@ejemplo.com"/><br>
    <label>{{'telefono' | translate}}: </label><input type="text" formControlName="telefono"><br>
    <label>{{'password' | translate}}*: </label><input type="password" formControlName="password"/><br>
    <label>{{'fechaNacimiento' | translate}}*: </label><input type="date" formControlName="fechaNacimiento"/><br>
    <label>{{'genero' | translate}}*: </label><select type="text" formControlName="genero">
      <option value="H">{{'hombre' | translate}}</option>
      <option value="M">{{'mujer' | translate}}</option>
      <option value="O">{{'otro' | translate}}</option>
    </select><br>
    <label>{{'obligatorio' | translate}}</label><br>

    <input class="buttoncolor" type="submit" value="{{'registrarse' | translate}}"/>
  </form>
</section>
