<header>
  <img class="menufig" src="../assets/img/powergaminglogo.png">
  <app-languaje></app-languaje>
  <nav class="nav">
    <ul>
      <li><a [routerLink]="['/inicio']">inicio</a></li>
      <li *ngIf="!_dataService.usuarioLoggeado"><a [routerLink]="['/login']">entrar</a></li>
      <li *ngIf="_dataService.usuarioLoggeado"><a [routerLink]="['/configuracion']">configuracion</a></li>
      <li *ngIf="_dataService.usuarioLoggeado"><a [routerLink]="['/biblioteca']">biblioteca</a></li>
      <li *ngIf="!_dataService.usuarioLoggeado"><input class="enlace" (click)="logOut()" value="salir"/></li>
    </ul>
  </nav>

</header>
