<header>
  <img class="menufig" src="../assets/img/powergaminglogo.png" alt="img">
  <app-languaje></app-languaje>
  <nav class="nav">
    <ul>
      <li><a [routerLink]="['/inicio']">{{'inicio'| translate}}</a></li>
      <li *ngIf="!dataService.usuarioLoggeado"><a [routerLink]="['/login']">{{'entrar'|translate}}</a></li>
      <li *ngIf="dataService.usuarioLoggeado"><a [routerLink]="['/configuracion']">{{'micuenta'|translate}}</a></li>
      <li *ngIf="dataService.usuarioLoggeado"><a [routerLink]="['/inicio']">{{'biblioteca'| translate}}</a></li>
      <li *ngIf="dataService.usuarioLoggeado"><a (click)="logOut()">{{'salir'|translate}}</a></li>
    </ul>
  </nav>

</header>
