<section class="registro">
  <h2>{{'RegistroUsuario' | translate}}</h2>
  <form [formGroup]="controlRegistro">
    <label>{{'name' | translate}}*: </label>
    <input type="text" id="nombre" name="nombre" placeholder='nombre' formControlName="nombre" [ngClass]="{ 'is-invalid':submitted && controlRegistro.get('nombre').errors, 'is-valid':submitted && !controlRegistro.get('nombre').errors}">
    <div *ngIf="submitted && controlRegistro.get('nombre').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <label>{{'apellido1' | translate}}: </label><input type="text" formControlName="apellido1"/>
    <label>{{'apellido2' | translate}}: </label><input type="text" formControlName="apellido2"/><br>
    <label>{{'email' | translate}}*: </label>
    <input type="email" id="email" name="email" placeholder='usuario@ejemplo.com' formControlName="email" [ngClass]="{ 'is-invalid':submitted && controlRegistro.get('email').errors, 'is-valid':submitted && !controlRegistro.get('email').errors}"><br>
    <div *ngIf="submitted && controlRegistro.get('email').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <label>{{'telefono' | translate}}: </label>
    <input type="text" formControlName="telefono"><br>
    <label>{{'password' | translate}}*: </label>
    <input type="password" id="password" name="password" placeholder='password' formControlName="password" [ngClass]="{ 'is-invalid':submitted && controlRegistro.get('password').errors, 'is-valid':submitted && !controlRegistro.get('password').errors}">
    <div *ngIf="submitted && controlRegistro.get('password').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <label>{{'fechaNacimiento' | translate}}*: </label>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento" formControlName="fechaNacimiento" [ngClass]="{ 'is-invalid':submitted && controlRegistro.get('fechaNacimiento').errors, 'is-valid':submitted && !controlRegistro.get('fechaNacimiento').errors}">
    <div *ngIf="submitted && controlRegistro.get('password').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <label>{{'genero' | translate}}*: </label><select type="text" formControlName="genero" [ngClass]="{ 'is-invalid':submitted && controlRegistro.get('genero').errors, 'is-valid':submitted && !controlRegistro.get('genero').errors}">
      <option value="H">{{'hombre' | translate}}</option>
      <option value="M">{{'mujer' | translate}}</option>
      <option value="O">{{'otro' | translate}}</option>
    </select><br>
    <div *ngIf="submitted && controlRegistro.get('genero').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>

    <input (click)="Onsubmit()" class="buttoncolor" type="submit" value="{{'registrarse' | translate}}"/>
  </form>
</section>
