
<div id="login-form">
  <h3>{{'welcome' | translate}}:</h3>
  <form [formGroup]="controlLogin" (ngSubmit)="OnSubmit()">
    <label>{{'loginmensage' | translate}}:</label>
    <input type="text" id="email" name="email" placeholder='email' formControlName="email" [ngClass]="{'is-invalid':submitted && controlLogin.get('email').errors, 'is-valid':submitted && !controlLogin.get('email').errors}">
    <div *ngIf="submitted && controlLogin.get('email').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <label>{{'loginmensage2' | translate}}:</label>
    <input type="password" id="password" name="password" placeholder='password' formControlName="password" [ngClass]="{ 'is-invalid':submitted && controlLogin.get('password').errors, 'is-valid':submitted && !controlLogin.get('password').errors}">
    <div *ngIf="submitted && controlLogin.get('password').errors" class="invalid-feedback">
      <div>{{'obligatorio'|translate}}</div>
    </div><br>
    <button type="submit" class="buttonCustom" >{{'enviar'| translate}}</button>
  </form>
  <a class="alogin" [routerLink]="['/forgetpass']">{{'forgotpass' | translate}}</a>
  <h3>{{'forgetpassmensage2' | translate}}</h3>
  <a class="alogin" [routerLink]="['/registro']">{{'registrarse' | translate}}</a>
</div>
