
<div id="login-form">
  <h3>{{'welcome' | translate}}:</h3>
  <form [formGroup]="controlLogin" (click)="logIn()">
    <label>{{'loginmensage' | translate}}:</label>
    <input type="text" id="email" name="email" placeholder='email' formControlName="email"><br>
    <label>{{'loginmensage2' | translate}}:</label>
    <input type="password" id="password" name="password" placeholder='password' formControlName="password"><br>
    <button type="submit" class="buttonCustom" >{{'enviar'| translate}}</button>
  </form>
  <a class="alogin" [routerLink]="['/forgetpass']">{{'forgotpass' | translate}}</a>
  <h3>{{'forgetpassmensage2' | translate}}</h3>
  <a class="alogin" [routerLink]="['/registro']">{{'registrarse' | translate}}</a>
</div>
