div{
  width: 10%;
  float: left;
  height: 100%;
  text-align: center;
}
.idiomaEs{
  background-color: transparent;
  border: transparent;
  background-image: url("src/assets/img/es.png");
  background-repeat:no-repeat;
  height: 30px !important;
  width: 35px !important;
  padding: 0 0;
  cursor: pointer;
}
.idiomaEn{
  background-color: transparent;
  border: transparent;
  background-image: url("src/assets/img/en-us.png");
  background-repeat:no-repeat;
  height: 30px !important;
  width: 35px !important;
  padding: 0 0;
  cursor: pointer;
}
