<app-buscador></app-buscador>
<section class="sectionjuegos">
  <h2>{{'indextitle' | translate}}</h2>
  <div *ngFor="let juego of allJuegos | slice: (_dataService.page-1) * _dataService.pageSize : (_dataService.page-1) * _dataService.pageSize + _dataService.pageSize">
    <a class="a2" [routerLink]="['detalle/'+juego.idJuego]">
      <img src="../../../../assets/img/icojuego/{{juego.idJuego}}.jpg" alt="{{juego.nombre}}"/>
      {{juego.nombre}}
    </a>
  </div>
  <ngb-pagination
    [(page)]="_dataService.page"
    [pageSize]="_dataService.pageSize"
    [collectionSize]="allJuegos.length"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true">
  </ngb-pagination>

</section>
<aside class="sectionjuegos">
  <h2>{{'indextitle2' | translate}}</h2>
  <div *ngFor="let juegoValoracion of valoracionJuegos">
    <a class="a2" [routerLink]="['detalle/'+juegoValoracion.idJuego]">
      <img src="../../../../assets/img/icojuego/{{juegoValoracion.idJuego}}.jpg" alt="{{juegoValoracion.nombre}}"/>
      {{juegoValoracion.nombre}}
    </a>
  </div>
</aside>
