<div id="buscador-form" *ngIf="datosPrecarga$ | async as respuesta">
  <form [formGroup]="controlBuscador" (ngSubmit)="OnSubmit()">
    <a (mouseover)="ver(1)" (mouseout)="ocultar(1)" class="dropbtn">{{'categoria' | translate}}
      <div id="meumenudes1" class="menu-search">
          <label class="container" *ngFor="let categoria of respuesta.DatosPrecargaJuego.Categorias">{{categoria.nombre}}
            <input type="checkbox" formControlName="categorias" value="{{categoria.idCategoria}}"/><br>
            <span class="checkmark"></span>
          </label>
      </div>
    </a>
    <label>{{'creador'| translate}}</label>
    <select formControlName="creador">
      <option selected disabled >{{'escoge' | translate}}</option >
      <option *ngFor="let creador of respuesta.DatosPrecargaJuego.Creadores" value="{{creador.idCreador}}">{{creador.nombre}}</option>
    </select>
    <a (mouseover)="ver(2)" (mouseout)="ocultar(2)" class="dropbtn">{{'plataforma' | translate}}
      <div id="meumenudes2" class="menu-search2">
          <label class="container" *ngFor="let plataforma of respuesta.DatosPrecargaJuego.Plataformas">{{plataforma.nombre}}
            <input type="checkbox" formControlName="plataformas" value="{{plataforma.idPlataforma}}"/><br>
            <span class="checkmark"></span>
          </label>
      </div>
    </a>
    <a (mouseover)="ver(3)" (mouseout)="ocultar(3)" class="dropbtn">{{'idioma' | translate}}
      <div id="meumenudes3" class="menu-search3">
          <label class="container" *ngFor="let idioma of respuesta.DatosPrecargaJuego.Idiomas">{{idioma.nombre}}
            <input type="checkbox" formControlName="idiomas" value="{{idioma.idIdioma}}"/><br>
            <span class="checkmark"></span>
          </label>
      </div>
    </a>
    <label>{{'fecha' | translate}}</label>
    <select formControlName="anho">
      <option selected disabled>{{'escoge' | translate}}</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
      <option value="2012">2012</option>
      <option value="2011">2011</option>
      <option value="2010">2010</option>
      <option value="2009">2009</option>
      <option value="2008">2008</option>
      <option value="2007">2007</option>
      <option value="2006">2006</option>
      <option value="2005">2005</option>
      <option value="2004">2004</option>
      <option value="2003">2003</option>
      <option value="2002">2002</option>
      <option value="2001">2001</option>
      <option value="2000">2000</option>
    </select>

    <div *ngFor="let juego of respuesta.Todos | filter: 'nombre': searchStr : false"></div>

    <input class="search" type="text"
           formControlName="nombre"
           autocomplete="off" [(ngModel)]="searchStr"/>

    <button class="buttoncolor" type="submit">{{'buscar' | translate}}</button>
  </form>
</div>

<!--<app-buscador-page #hijo></app-buscador-page>-->

