<section class="micuenta">
  <h2>{{'myaccountmensage' | translate}}</h2>
  <form [formGroup]="controlMyAccount" (click)="OnSubmit()">
    <label>{{'name' | translate}}:</label>
    <input type="text" name="nombre" value="{{_dataService.usuarioLoggeado.nombre}}" /><br>
    <label>{{'apellido1' | translate}}: </label>
    <input type="text" name="apellido1" value="{{_dataService.usuarioLoggeado.apellido1}}"/><br>
    <label>{{'apellido2' | translate}}: </label>
    <input type="text" name="apellido2" value="{{_dataService.usuarioLoggeado.apellido2}}"/><br>
    <label>{{'telefono' | translate}}: </label>
    <input type="text" name="telefono"  value="{{_dataService.usuarioLoggeado.telefono}}"/><br>
    <label>{{'password' | translate}}, {{'cambiar' | translate}}:  </label>
    <input type="password" name="password" value="{{_dataService.usuarioLoggeado.password}}"/><br>
    <label>{{'nombreuser' | translate}}: </label>
    <input type="text" name="nombreUser" value="{{_dataService.usuarioLoggeado.nombreUser}}"/><br>

    <input class="buttoncolor" type="submit" value="{{'actualizar' | translate}}"/>
  </form>
</section>
