
body{
  box-sizing: border-box;
  margin: 0%;
  background-color:#fff;
  color:black;
  font-family: 'Oswald', sans-serif;
}
a{
  color:white;
  text-decoration: none;
}

header{
  width:100%;
  display:inline-block;
  height: 100px;
  background-color: black;
  color: azure;
}
#img1{
  top: 30px;
  position: relative;
  display: inline-block;
}
#img2{
  top: 30px;
  position: relative;
  display: inline-block;
}
header p{
  display: inline-block;
}
nav{
  width: 30%;
  float: left;
  height: 100%;

}
.nav{
  position: relative;
  top: 20px
}
.nav li{
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
}
.nav a{
  font: 1em sans-serif;
  color: azure;
}
.menu{
  width: 100%;
  display: inline-block;
}
.menufig{
  width: 200px;
  float: left;
  height: 100px;
}
.menuimg{
  width: 10%;
  float: left;
  height: 100%;
  text-align: center;
}
.footer{
  height: 150px;
  width: 100%;
  background-color: #000;
  color: azure;
  bottom: 0;
  display: inline-block;
  position: relative;
}
section{
  position: relative;
  left: 100px;
  width: 90%;
  height: 74%;
  display: inline-block;
}

.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.amenu:hover{
  background-color: #f00;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f00;
}


.menudes {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.menudes-contido {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 30px;
}

.menudes-contido a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {
  display: block;
}

.sectionjuegos{
  position: relative;
  left: 100px;
  width: 90%;
  margin-top: 20px;
  display: inline-block;
}
.a2{
  height: 214px;
  width: 150px;
  display:inline-block;
  text-decoration:none;
}
.sectionjuegos div{
  height: 214px;
  width: 150px;
  margin: 20px;
  display:inline-block;
}
.pjuego{
  position: relative;
  top: -45px;
  text-align: center;
  font-size:12px;
  background-color: #696969;
  width: 150px;
}
.a{
  width:142px;
  height:22px;
  text-decoration:none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.menu-search{
  background-color:#000;
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 10px;
}
.menu-search2{
  background-color:#000;
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 290px;
  padding: 10px;
}
.menu-search3{
  background-color:#000;
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 390px;
  padding: 10px;
}
.menudes-contido2 {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -20px;
  color: black;
  width: 400px;
}
.lineacarrito img{
  height: 150px;
  margin: 10px;
}
.a3 {
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  position: relative;

  font-size: 20px;


}
.show2 {
  display: block;
}
.precio{
  display: inline-block;

  font-size: 30px;

  position: relative;

  top: -60px;

  left: -130px;
}
.carritofinal{

  text-align: end;
}
.edicion{
  display: inline-block;

  font-size: 20px;

  position: relative;

  top: -50px;
}
input {
  margin: 10px;
}
.divbiblioteca{
  width: 75%;
  display: inline-block;
  position: relative;
  margin-left: 100px;
  margin-bottom: 40px;
}
.divbuscador{
  width: 75%;
  display: inline-block;
  top:-60px;
  position: relative;
  margin-left: 100px;
  margin-bottom: 40px;
}
.divjuegobiblioteca{
  width: 10%;

  display: inline-block;

}
.carrito{
  width: 100%;
}
.carritoPRI{
  width: 7%;

  display: inline-block;

  height: 100%;

  padding: 10px;
}
#login-form{
  margin: 150px;
  display: inline-block;
}
.registro{
  position: relative;

  left: 100px;

  width: 80%;

  height: 74%;

  display: inline-block;

  margin: 150px;
}
.recovery{
  position: relative;

  left: 100px;
  width: 70%;

  height: 74%;

  display: inline-block;

  margin: 150px;
}
.micuenta{
  position: relative;

  left: 100px;
  width: 80%;
  height: 74%;

  display: inline-block;

  margin: 150px;
}
.sjuego{
  position: relative;

  left: 100px;

  width: 90%;

  height: 74%;

  display: inline-block;
  margin-top:20px;
}
.sjuego img{
  float:left;
}
.juegotitle{
  width: 80%;

  float: left;

  height: 214px;
}
.juegotitle h1{
  margin: 50px;
}
.juegotitle p{
  margin: 50px;
}
#buscador-form{
  color: white;

  background-color: #5c5d5d;
}
.paginacion{
  color:#f00;
}
button{
  background-color:#f00;
  color: white;
  border-radius: 6PX;
  padding: 6PX 24PX;
  size: 13PX;

}
.buttoncolor{
  background-color:#f00;
  color: white;
  border-radius: 6PX;
  padding: 6PX 24PX;
  size: 13PX;
}
.alogin{
  color:black;
}
.carrito{
  width: 30%;

  float: left;

  height: 100px;

}
#carrito{
  margin-top: 20px;
}
.imgcarrito{
  height:50px;
}
.error{
  margin: 20px;
}
/*Form select and input*/
select{
  border-radius: 4px;
}
input[type=text]:focus {
  border: 3px solid #f00;
}
input[type=password]:focus {
  border: 3px solid #f00;
}
input[type=email]:focus {
  border: 3px solid #f00;
}
input{
  border-radius: 4px;
}
/*Checkbox */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #f00;
}

.container input:checked ~ .checkmark {
  background-color: #f00;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-item.active .page-link {
  color: #fff;
  background-color: #f00;
  border-color: #f00;
}

.page-link {
  color: #f00;
}

.block{
  display: block;
}
.none{
  display: none;
}
